<div class="container my-5">
    <h3 class="fw-bold h3">Peticiones del usuario</h3>
    <span class="h4">Ordenar peticiones por categoría: </span>
    <div *ngFor="let peticion of peticionesList" class="col-lg-8 col-sm-12">
        <div class="card my-3">
            <div class="card-body d-flex flex-column flex-sm-row">

                <div [id]="'carouselFotos' + peticion.id" class="carousel slide me-sm-3 mb-3 mb-sm-0"
                    data-bs-ride="carousel" *ngIf="peticion?.files?.length" style="width: 100%; max-width: 350px">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let file of peticion.files; let i = index"
                            [class.active]="i === 0">
                            <img [src]="
                      'http://127.0.0.1:8000/images/peticiones/' + file?.name
                    " class="d-block w-100 rounded-3" [alt]="'Imagen ' + i"
                                style="max-height: 250px; object-fit: cover" />
                        </div>
                    </div>

                    <button [class]="
                  peticion.files.length > 1
                    ? 'carousel-control-prev bg-dark'
                    : 'd-none'
                " type="button" [attr.data-bs-target]="'#carouselFotos' + peticion.id" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button [class]="
                  peticion.files.length > 1
                    ? 'carousel-control-next bg-dark'
                    : 'd-none'
                " type="button" [attr.data-bs-target]="'#carouselFotos' + peticion.id" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>

                <!-- Texto e info de la petición -->
                <div class="flex-grow-1">
                    <h5 class="card-title">{{ peticion.titulo }}</h5>
                    <p class="card-text">{{ peticion.descripcion }}</p>
                    <p class="text-muted">
                        <b>Únete a {{ peticion.firmantes }} personas que ya han firmado
                            esta petición</b>
                    </p>
                    <div class="d-flex align-items-center mt-4">
                        <img src="https://via.placeholder.com/40" class="rounded-circle me-2" alt="Avatar" />
                        <small class="text-muted">{{ peticion.userid }}</small>
                        <a class="text-primary mx-3" [routerLink]="['/peticiones/view/', peticion.id]">Saber más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container m-3">
</div>


<!-- Temas destacados -->
<div class="col-lg-4 col-sm-12">
    <h4 class="fw-bold">Temas destacados</h4>
    <span class="badge bg-light text-dark border m-1 ">Sanidad</span>
    <span class="badge bg-light text-dark border m-1 ">Animales</span>
    <span class="badge bg-light text-dark border m-1 ">Medio
        ambiente</span>
    <span class="badge bg-light text-dark border m-1 ">Educación</span>
    <span class="badge bg-light text-dark border m-1 ">Justicia
        económica</span>
    <span class="badge bg-light text-dark border m-1 ">Refugiados</span>
    <span class="badge bg-light text-dark border m-1 ">Lgtb</span>
    <span class="badge bg-light text-dark border m-1 ">Alimentación</span>
    <span class="badge bg-light text-dark border m-1 ">Feminismo</span>
    <span class="badge bg-light text-dark border m-1 ">Mujeres
        en México</span>

</div>